# Build artifacts
build/
DerivedData/

# Xcode user data
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/
